

/*///////////////////////// BARRA DE NAVEGACIÓN /////////////////////////*/

.nave {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(229, 229, 229, 0.925);
  border-bottom: 1px solid rgba(229, 229, 229, 0.925);
}

.logo {
  width: 200px;
  height: auto;
}

.busqueda {
  opacity: 0.8;
  text-align: center;
}

.botones {
  width: 40px;
  height: 40px;
  margin-left: 10px;

}
button {
  border: 0px;
  background-color: white;
}

/* /////////////////////////////CABECERA-HEADER/////////////////////////////// */

header {
  display: flex;
  justify-content: center;
}

.logoGrande {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin-right: 80px;
  margin-top: 40px;
}

/* //////////////DIV1////////////// */

.bloqueUno {
  display: flex;
  justify-content: center;
  padding: 20px 50px 0px 20px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 160%;
  margin-top: 30px;
}
.editarPerfil {
  width: 60%;
  height: 10%;
  padding: 7px;
  border: 1px solid rgba(128, 127, 127, 0.295);
  border-radius: 8%;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: rgb(27, 27, 27);
  margin-top: 35px;
  text-decoration:none;
  text-align: center;
}
.ajustes {
  width: 30px;
  height: 30px;
}



/* //////////////DIV2////////////// */

.bloqueDos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
  margin-top: 0px;
}


h4 {
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
}

/* //////////////DIV3////////////// */

.bloqueTres {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
h5 {
  font-size: larger;
  margin-left: 20px;
  margin-bottom: 2px;
  margin-top: 0px;
}
ul {
  margin-top: 0px;
  font-size: 15px;
}
li {
  margin-top: 3px;
}

/* /////////////////////////////HISTORIAS DESTACADAS/////////////////////////////// */

/* /////////////////////////////FEED/////////////////////////////// */

.sectionFeed{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.fotos_feed{
  display: flex;
  justify-content: center;
}
.fotosFeed {
  width: 300px;
  height: auto;
  margin: 20px;
}
.fotosFeed:hover {
  color: rgb(65, 63, 63);
  opacity: 70%;
}


.botonesFeed {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(128, 127, 127, 0.295);
  opacity: 0.7;
}
.botonesMain{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-decoration:none;
  margin: 0px 30px 5px 30px;
  color: rgb(85, 84, 84);
  padding-top: 10px;
}
.botonesMain:active {
  border-top: 1px solid black;
  color: black;
  opacity: 1;
}

/* /////////////////////////////FOOTER - PIE DE PAGINA/////////////////////////////// */

footer {
  display: flex;
  justify-content: center;
  color: blue;
}
.links {
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  color: blue;
}
a{
  text-decoration:none;
}
